<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ignore requests to files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route all other requests through index.php
    RewriteRule ^(.*)$ index.php?request=$1 [PT,L]
</IfModule>